#sidebar-img {
    width: 90%;
}

h3 {
    a {
        text-decoration: none;
        font-family: $font-stack;
        color: $dark-gray;
    }
}

p {
    color: $dark-gray;
    font-family: $font-stack;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.8;
}