@import url('https://fonts.googleapis.com/css?family=Charmonman|Nunito');
$font-stack: 'Karla',
'sans-serif';
$cursive-font: 'Charmonman',
'serif';
$light-pink: rgb(234,
181,
173);
$lighter-pink: #fbd0c6;
$dark-gray: #6d6e71;
$blue-green: #9ad1c1;