// .blog-post-pic {
//     max-width: 800px;
// }
#posts-h2 {
    margin-top: 70px;
    text-transform: uppercase;
}

#posts-section {
    width: 350px;
    @include desktop {
        width: 800px;
    }
    p {
        @include paragraph;
    }
    img {
        width: 350px;
        @include desktop {
            width: 800px;
        }
    }
}