#posts-h2 {
    margin-top: 70px;
    text-transform: uppercase;
}

#posts-section {
    @include desktop {
        width: 800px;
    }
    span {
        @include paragraph;
        @include desktop {
            width: 80%;
        }
    }
    img {
        width: 100%;
        @include desktop {
            width: 80%;
        }
    }
    a {
        text-decoration: none;
    }
    button {
        display: block;
    }
}