.tagged {
    width: 350px;
    @include desktop {
        width: 800px;
    }
    p {
        @include paragraph;
    }
    img {
        width: 350px;
        @include desktop {
            width: 800px;
        }
    }
}