.tagged {
    @include desktop {
        width: 800px;
    }
    p {
        @include paragraph;
    }
    img {
        width: 100%;
        @include desktop {
            width: 800px;
        }
    }
}