#about-me-div {
    img {
        width: 80%;
        margin-top: 100px;
        @include desktop {
            width: 700px;
        }
    }
    p {
        @include paragraph;
        @include desktop {
            width: 700px;
        }
    }
}