#about-me-div {
    img {
        width: 80%;
        @include desktop {
            width: 700px;
        }
    }
    #about-p {
        @include paragraph;
        @include desktop {
            width: 700px;
        }
    }
}