#about-me-div {
    img {
        width: 350px;
        @include desktop {
            width: 700px;
        }
    }
    #about-p {
        @include paragraph;
        width: 350px;
        @include desktop {
            width: 700px;
        }
    }
}