footer {
    text-align: center;
    margin-top: 50px;
    @include font;
    background: $dark-gray;
    color: white;
    left: 0;
    right: 0;
    padding: 10px 0 10px 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
}