@mixin font {
    color: $dark-gray;
    font-family: $font-stack;
}

@mixin desktop {
    @media only screen and (min-width: 769px) {
        @content
    }
}

@mixin button {
    background: $blue-green;
    border-color: $blue-green;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: all .1s ease-in-out;
    &:hover {
        background: white;
        color: $blue-green;
    }
}

@mixin paragraph {
    @include font;
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 1.8;
}